@import url(../../custom.css);

.tableContainer {
    margin: 20px;
}

.tableHeaderContainer {
    display: flex;
    align-items: center;
    background-color: white;
    height: 4rem;
    width: 100%;
}

.tableHeaderContainer > div {
    color: var(--turquoise);
    padding: 0 20px;
    font-weight: bold;
}

.tableRowContainer {
    display: flex;
    align-items: center;
    background-color: var(--light-grey);
    height: 4rem;
    width: 100%;
}

.tableRowContainer > div {
    padding: 0 20px;
    font-weight: bold;
}

.date {
    width: 15%;
    flex-grow: 1;
}

.company, .account {
    width: 30%;
    flex-grow: 2;
}

.amount {
    text-align: right;
    width: 15%;
    flex-grow: 1;
}