@import url(../../custom.css);

.heading {
    background-color: var(--turquoise);
    color: white;
    padding: 2rem;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
}

.loading {
    text-align: center;
    margin: 4rem;
}